{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
                     
        <div class="col-xs-12 col-md-12">
            <a href="{{ path("add_associations")}}">Ajouter une association</a>
            <table class="table table-striped datatable_esgi">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Desciption</th>
                        <th>Actif</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for association in Associations %}
                        <tr>
                            <td class="col s3">{{association.nom}}</td>
                            <td class="col s3">{{association.desciption}}</td>
                            <td class="col s3">
                                {% if association.is_active==1 %}
                                    disponible
                                {% endif %}
                            </td>
                            <td class="col s3">
                                <a href="{{path('delete_association',{'id':association.id})}}" class="orange-text text-lighten-2">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                                <a href="{{path('edit_association',{'id':association.id})}}" class="orange-text text-lighten-2">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

