<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}OPEN ESGI{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('DataTables/datatables.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <style>
            .navbar-left img{
                height: 100px;
            }
            
            h1.navbar-brand{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                text-align: center;
                margin: 0 auto;
                font-size: xx-large;
            }

            .flash-error{
                font-weight: bold;
                color: red;
            }

            .flash-success{
                font-weight: bold;
                color: green;
            }
            
            th, td{
                text-align: center;
            }

            form#register_form{
                width: 50%;
                margin: 0 auto;
            }

            div#register_form>div>* {
                width: 100%;
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default" style="border-bottom:solid #cccc00">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-left" href="{{ url('homepage') }}">
                    <img src="{{ asset('img/logo.png') }}" alt="logo">
                </a>
              </div>
                <h1 class="lien"> 
                    <a class="pull-left" href="{{ url('homepage') }}">
                      ESGI OPEN
                    </a>
                </h1>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="nav navbar-nav navbar-right top">
                    <br>
                    {% if app.user == null %}
                        <form class="form-inline" action="{{ path('login') }}" method="post" >
                            <div class="form-group">
                                <label for="username">Adresse email:</label>
                                <input class="form-control" type="email" id="username" name="_username" value="" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe :</label>
                                <input class="form-control" type="password" id="password" name="_password" required>
                            </div>
                             <button class="btn btn-primary" type="submit">login</button>
                        </form>
                        {% if error is defined %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="pull-right">
                            <a href="#" data-toggle="modal" data-target="#forgetModal">Mot de passe oublié</a>
                            <a href="{{ url('inscript') }}">Inscription</a>
                        </div>
                    {% else %}
                        <p>
                            Bonjour
                            <a class="lien" href="{{ url('account') }}">{{ app.user.prenom }} {{ app.user.nom }}</a>
                            {% if app.user.statut is defined and app.user.statut == 1  %}
                                <a class="btn btn-default" href="{{ url('admin') }}"><span class="glyphicon glyphicon-cog"></span></a>
                            {% endif %}
                            <a class="btn btn-default" href="{{ url('logout') }}"><span class="glyphicon glyphicon-off"></span></a>

                           
                        </p>
                    {% endif %}
                </div>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div id="messages">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div id="wrapper">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="forgetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <form class="form-inline" action="{{ path('forget') }}" method="post" >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Mot de passe oublié</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <p>Un email de récupération de compte vous sera envoyé</p>
                                <label>
                                    Adresse email:
                                    <input class="form-control" type="email" id="forgetemail" name="email" value="" required>
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary">Envoyer l'email de récupération</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
                <br>
                <br>
                <br>
        <footer>
            <div class="panel-footer">
                <p><center>Esgi - &copy</center></p>
            </div>
        </footer>
        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <script src="{{ asset('DataTables/datatables.min.js') }}"></script>
            <script src="{{ asset('js/script.js') }}"></script>
            <script>
            $('#myModal').on('shown.bs.modal', function () {
              $('#myInput').focus()
            });
            $('#details').on('shown.bs.modal', function () {
                $('#myInput').focus()
              })
            </script>
        {% endblock %}
    </body>
</html>
