{% extends 'base.html.twig' %}

{% block title %}
    admin participations
{% endblock %}

{% block body %}
    <h3 class="text-center">Récapitulatif des élèves présents à vos associations</h3>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <a href="#" data-toggle="modal" data-target="#createModal">Ajouter une participation</a>
            <table class="table table-striped datatable_esgi" id="listParticipations">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Association</th>
                        <th>Eleve</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for Participations in Associations %}
                        {% for participation in Participations %}
                            <tr>
                                <td class="col s3">{{ participation.date_crea|date('d/m/Y') }}</td>
                                <td class="col s3">{{ participation.association_id.nom }}</td>
                                <td class="col s3">{{ participation.user_id.nom }} {{ participation.user_id.prenom }}</td>
                                <td class="col s3">
                                    <a href="{{path('delete_participation',{'id':participation.id})}}" class="orange-text text-lighten-2">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        {{ form_start(form_add, {'method': 'POST'}) }}
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Enregistrement de la présence d'un élève pour une association</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_widget(form_add) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Créer</button>
                    </div>
                </div>
            </div>
        {{ form_end(form_add) }}
    </div>
{% endblock %}